html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold !important;
}

/* BACKGROUND */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(static/background-image.webp);
  background-size: cover;
  backdrop-filter: blur(10px);
  z-index: -1;
}

/* NAVBAR */
.navbar {
  margin-top: 1rem;
  margin-inline: 0.25rem;
  min-height: 40px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.ul-navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 12px;
  padding-inline: 16px;
  border-radius: 30px;
  background-color: white;
  border: black 1.5px solid;
}

.li-navbar {
  display: flex;
}

.ul-account {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1.5px solid;
  margin: 0;
  padding: 12px;
  padding-inline: 16px;
  border-radius: 30px;
  margin-right: 1.25rem;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0;
}

.li-account {
  display: flex;
  cursor: pointer;
}

.nav-item {
  margin-inline: 0.75rem;
  cursor: pointer;
}

.nav-item:hover {
  color: gray;
}

.nav-item:active {
  color: darkgray;
}

.login-button {
  margin-left: auto;
  margin-inline: 0.25rem;
}

.login-button:hover {
  color: gray;
}

.login-button:active {
  color: darkgray;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  color: white;
}

.title {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-size: 80px !important;
}

.title-name {
  margin: 0;
  font-size: 1.5rem;
  font-size: 30px !important;
}

/* HEADER SEPARATOR */
.header-separator {
  width: 100%;
  height: 5rem;
  background-color: #FFE8D2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-of-section {
  margin: 0;
  font-size: 40px !important;
  color: #F49B4A;
}

/* SECTION */
.section {
  height: 88vh;
}

/* BLOBS */
.blob {
  background-color: #FFE8D2;
  border-radius: 60px;
  padding-inline: 2.5rem;
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.blobs-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.blob-title {
  font-weight: bold !important;
  font-size: 25px !important;
}

.text {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.upload {
  border: black 1.5px solid;
  border-radius: 60px;
  padding: 0.5rem;
  cursor: pointer;
}

.upload:hover {
  border: gray 1.5px solid;
  color: gray;
}

.upload:active {
  border: darkgray 1.5px solid;
  color: darkgray;
}

.row {
  display: flex;
  margin-block: 0.75rem;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 0.75rem;
}

img {
  margin: 0;
}

.validation {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}

.html-select {
  width: 30vh;
  border-radius: 20px;
  padding: 1rem;
  background-color:#FFE8D2;
  overflow: hidden;
  border:#F49B4A 1.5px solid;
}

.html-select:focus {
  outline: none;
}

option {
  cursor: pointer;
}

.form-container {
  margin-bottom: 0;
  margin-top: 0;
}

.form-label {
  margin-right: 1rem;
  margin-block: 13px;
}

.form-input {
  width: 25vh;
  margin-block: 11px;
  border-radius: 10px;
  padding-inline: 0.75rem;
  border: 1.5px #F49B4A solid;
}

.form-input:focus {
  outline:none
}

.form-button {
  margin-left: auto;
  background-color: #F49B4A;
  color: white;
  border: none;
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 15px;
}

.form-button:hover {
  background-color: #F38E32
}

.form-button:active {
  background-color: #F2811A
}

.account-column {
  align-items: flex-start;
  margin-right: 1rem;;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFE8D2;
  color:#F49B4A;
  text-align: center;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-footer {
  margin-left: 8px;
}

.right-footer {
  margin-right: 8px;
}

input[type="file"] {
  display: none;
}

@keyframes move {
  0% {
  transform: translateX(0);
  }
  50% {
  transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}